   .header-fourth {
     font-family: 'Montserrat', sans-serif;
     font-weight: bolder;
     font-size: 40px;
     padding: 10px;
     background-color: #fb2056;
     width: 300px;
     transform: translate(690px, 100px);
   }

  